* {
  margin: 0;
  padding: 0;
}
body {
  color: beige;
  background-color: rgb(12, 77, 121);
  font-family: "Kode Mono", monospace;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(25, 95, 141);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 35px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
nav ul li a:hover {
  color: aqua;
  font-size: 1.7rem;
}
.left-side {
  font-size: 2.5rem;
}
.base {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.base > div {
  width: 30%;
}
.right-side-section img {
  width: 100%;
  height: 100%;
}
.left-side-section {
  font-size: 2rem;
}
hr {
  width: 99.9%;
  color: antiquewhite;
  align-items: center;
}
#int {
  font-size: 1.8rem;
}
.name {
  color: salmon;
}
.ii {
  font-size: 1.5rem;
}
.gt h3 {
  text-align: center;
}
.gt h4 {
  font-size: 1.2rem;
  text-align: justify;
  justify-content: space-between;
  margin: 30px 19%;
  color: lawngreen;
  /* shape-outside: circle(); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.gt h4:hover {
  color: lawngreen;
  justify-content: space-around;
  margin: 10px 19%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.aaa {
  color: aqua;
  text-decoration: dotted;
}
.a {
  border-radius: 360px;
  /* width: 40%; */
  float: left;
  margin-right: 300px;
  margin-left: 50px;
  shape-outside: circle();
}
.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.sa {
  color: aqua;
  text-decoration: none;
  font-size: 25px;
}
.sa:hover {
  text-decoration: underline;
  color: lawngreen;
}
